use ito_rs::export_anime_plugin;
use ito_rs::provider::AnimeProvider;
use ito_rs::models::{Listing, FilterItem, HomeLayout};
use ito_rs::models::anime::{Anime, Episode, Video, PageResult};

struct MyAnimePlugin;

impl AnimeProvider for MyAnimePlugin {
    fn get_home() -> HomeLayout {
        HomeLayout { components: vec![] }
    }

    fn get_anime_list(listing: Listing, page: i32) -> PageResult {
        PageResult { entries: vec![], has_next_page: false }
    }

    fn get_search_anime_list(query: String, page: i32, filters: Vec<FilterItem>) -> PageResult {
        PageResult { entries: vec![], has_next_page: false }
    }

    fn get_anime_update(anime: Anime, needs_details: bool, needs_episodes: bool) -> Anime {
        anime
    }

    fn get_video_list(anime: Anime, episode: Episode) -> Vec<Video> {
        vec![]
    }
}

export_anime_plugin!(MyAnimePlugin);
